<div class="">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">
          UserGroup
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | async">
        <th scope="row">{{ user.id }}</th>
        <td>
          {{ user.name }}
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.userGroup }}</td>
      </tr>
    </tbody>
  </table>
</div>
